venv/
env/
.venv/
.vscode/

*.csv

*.pyc
*.pyo

__pycache__/

swing_logs_*.txt

email_config.py
test_fibo.py
mock_test_usdjpy_sep29.py
adjust_time.py
test_fibo.py
test_range.py
test_specific_range.py
save_data_csv.py